In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
def get_optimizations(permutation_number, file_suffix):
    with open(f"optimization_permutations_{file_suffix}.txt", "r") as file:
        opts = [line.strip() for line in file.readlines()]
        
    return opts[permutation_number - 1]

In [3]:
# Best overall is 8-41684
# Best mat-mul is 8-41662

df_results = pd.read_csv("results/results_8.csv")
df_results.index += 1
df_results = df_results[df_results.permutation_number.isin({41684, 41662})]

df_results["opts"] = df_results["permutation_number"].apply(get_optimizations, args=("8", ))

In [4]:
df_to_add = pd.read_csv("results/results_standard.csv")
df_to_add["opts"] = df_to_add["permutation_number"].apply(get_optimizations, args=("standard", ))

df_results = pd.concat([df_results, df_to_add])

In [5]:
df_results[["lcals_Raw_MAT_X_MAT_LONG", "lcals_Raw_MAT_X_MAT_MEDIUM", "lcals_Raw_MAT_X_MAT_SHORT"]].sum(axis=1)

41662    24.39
41684    24.42
0        38.78
1        27.28
2        26.97
3        27.03
dtype: float64

In [6]:
df_results = df_results.drop(index=41662)

In [7]:
for benchmark in ["gcc", "npb", "lcals", "tsvc"]:
    data = df_results.loc[:, df_results.columns.str.startswith(f"{benchmark}_")].drop(
        columns=[f"{benchmark}_size", f"{benchmark}_compile"]).sum(axis=1)
    
    df = pd.DataFrame(data, columns=["Time"])
    df["Speedup"] = df.loc[0, "Time"] / df["Time"]
    print(benchmark)
    display(df)

gcc

        Time    Speedup
41684   2674  12.283470
0      32846   1.000000
1       7482   4.390003
2       2740  11.987591
3       2724  12.058003

npb

        Time   Speedup
41684  37.69  1.508358
0      56.85  1.000000
1      26.63  2.134810
2      25.34  2.243489
3      25.59  2.221571

lcals

        Time   Speedup
41684  24.97  1.592711
0      39.77  1.000000
1      27.78  1.431605
2      27.46  1.448288
3      27.52  1.445131

tsvc

          Time   Speedup
41684   44.584  2.569487
0      114.558  1.000000
1       53.615  2.136678
2       50.746  2.257478
3       50.366  2.274511